<!--These values will come from the component class-->
<h2>{{entry.title}}</h2>
<figure>
    <img src="{{entry.photo}}">
    <figcaption>{{entry.description}}</figcaption>
</figure>
<div class="actions">
    <button type="button" (click)="isLiked = !isLiked" [ngClass]="{liked: isLiked}">❤</button> 
    <!--Binding the click event to a boolean "isLiked" so the user doesn't submit a form-->
    <!--Adding the ng class attribute directive and assigning the "liked" class to the element
    with the isLiked boolean-->
    <button type="button" (click)="showComments = !showComments">Comments ({{entry.comments.length}})</button>
</div>
<div class="comments" *ngIf="showComments">
    <div class="comment" *ngFor="let comment of entry.comments">
        <p><strong>{{comment.name}}</strong>{{comment.comment}}</p>
    </div>
    <app-entry-comment-form (onCommentAdded)="onCommentAdded($event)"></app-entry-comment-form>
</div>

